.view-box {
  grid-area: view;
  display: flex;
  flex-direction: column;
  grid-template-rows: 600px 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  background-image: url("./people-in-concert-1763075.jpg");
  background-size: cover;
}
